# START CRON JOB
0 * * * * /bin/bash -c '/usr/local/bin/python3 /app/dyndns_client_cloudflare.py "$CLOUDFLARE_DOMAIN" "$CLOUDFLARE_API_KEY" "$CLOUDFLARE_RECORD_TYPE"' > /proc/1/fd/1 2>/proc/1/fd/2
# END CRON JOB
